<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo.panda_channel">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />//读取外置存储卡

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.original.OriginalActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.PersonalActivity" />
        <activity android:name=".activity.settingactivity.SettingActivity" />
        <activity android:name=".activity.settingactivity.userfeedback.UserfeedbackActivity" />
        <activity android:name=".activity.AboutPandaActivity" />
        <activity android:name=".activity.user.login.LoginActivity" />
        <activity android:name=".activity.user.register.RegisterActivity" />
        <activity android:name=".activity.user.forgetpassword.ForgetpasswordActivity" />
        <activity android:name=".activity.user.PersonInformationActivity" />
        <activity android:name=".activity.user.ModifyNicknameActivity"></activity>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.CollectionActivity"/>
        <activity android:name=".activity.HistroyActivity"/>
        <activity android:name=".activity.report.ReportActivity"
            android:screenOrientation="landscape"
            />
    </application>

    </manifest>